<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {{!-- {{>Navbar}} --}}
    <h2 class="h2_prime">About Section</h2>
    <section class="about">
        <div class="about_left">
            <img src="./images/01.jpg" alt="" class="aboutImg">
        </div>

        <div class="about_right">
            <h3 class="h3_prime">SaiComputer</h3>
            <p class="p_sec">Welcome to Our Store</p>
            <p class="p_sec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laborum assumenda itaque atque, autem, in placeat hic nam quidem nobis ab. Odio quaerat magni quasi nisi, impedit quae. Eaque, maiores voluptatibus facilis non iusto laborum eos praesentium repellat ullam molestiae voluptate fuga ad atque incidunt.</p>

            <button class="btnPrimary">Know More</button>
        </div>
    </section>
    {{!-- {{>Footer}} --}}
</body>
</html>