<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
     
     {{!-- {{>Navbar}} --}}
      <h2 class="h2_prime">Our Products</h2>
    <section class="products">
        <div class="products_card">
            <img src="./images/ram.jpg" alt="" class="p-img" >
</div>
           <div class="content">
            <h3 class="h3_prime">RAM</h3>
            <p class="p_sec bold">Price - $10</p>
            <p >Lorem ipsum dolor sit amet.</p>
     </div>   

        <div class="products_card">
            <img src="./images/printer.jpg" alt="" class="p-img" >
            </div>
            <div class="content">
            <h3 class="h3_prime">Printers</h3>
            <p class="p_sec ">Price - $50</p>
            <p >Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="products_card">
            <img src="./images/laptop.jpg" alt="" class="p-img" >
            </div>
            <div class="content">
            <h3 class="h3_prime">Montiors</h3>
            <p class="p_sec bold">Price - $30</p>
            <p >Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="products_card">
            <img src="./images/hard disk.jpg" alt="" class="p-img"  >
            </div>
            <div class="content">
            <h3 class="h3_prime">Hard Disks</h3>
            <p class="p_sec">Price - $15</p>
            <p >Lorem ipsum dolor sit amet.</p>
        </div>

    </section>

    {{!-- {{>Footer}} --}}
</body>
</html>