<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
</head>
<body>


    {{!-- {{>Navbar}} --}}
    
    <h2 class="h2_prime">What We Offer</h2>
    <section class="service">
        <div class="cards">
            <i class="fa fa-laptop fa-5x"></i>
            <h3 class="h3_prime">Selling</h3>
            <p class="p_sec">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis similique
                debitis id repudiandae quam cupiditate quisquam nesciunt quae harum, iste quas inventore fugiat
                excepturi rem doloremque? Libero ab dolor quia perspiciatis.</p>
        </div>

        <div class="cards">
            <i class="fa fa-cloud fa-5x"></i>
            <h3 class="h3_prime">Web Development</h3>
            <p class="p_sec">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis similique
                debitis id repudiandae quam cupiditate quisquam nesciunt quae harum, iste quas inventore fugiat
                excepturi rem doloremque? Libero ab dolor quia perspiciatis.</p>
        </div>

        <div class="cards">
            <i class="fa fa-calculator fa-5x"></i>
            <h3 class="h3_prime">Repairing</h3>
            <p class="p_sec">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis similique
                debitis id repudiandae quam cupiditate quisquam nesciunt quae harum, iste quas inventore fugiat
                excepturi rem doloremque? Libero ab dolor quia perspiciatis.</p>
        </div>

        <div class="cards">
            <i class="fa fa-android fa-5x"></i>
            <h3 class="h3_prime">Android Development</h3>
            <p class="p_sec">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis similique
                debitis id repudiandae quam cupiditate quisquam nesciunt quae harum, iste quas inventore fugiat
                excepturi rem doloremque? Libero ab dolor quia perspiciatis.</p>
        </div>
    </section>

  {{!-- {{>Footer}} --}}
</body>
</html>